body {
	font-family: "Consolas", "Menlo", monospace;
}

h1 {
	text-align: center;
}

table.sheet {
	width: 100%;
}

table.sheet {
	border-collapse: collapse;
	box-shadow: 0 0 5px DarkGray;
	text-align: center;
}

table.sheet tr:nth-child(even) {
	background-color: WhiteSmoke;
}

table.sheet th {
	background-color: DarkSlateGray;
	color: White;
}

table.sheet td {
	border-bottom: 1px solid Gainsboro;
}

