table {
	border-collapse: collapse;
}

.menu {
	margin-bottom: 12px;
}

.menu input[type=color] {
	margin-right: 12px;
}

.menu button {
	font-size: 11px;
	width: 90px;
}

#sheet td {
	text-align: center;
	padding: 3px;
	border: 1px solid DarkGreen;
	font-family: "Consolas", "Menlo", monospace;
	font-size: 12px;
}

#sheet tr.row td:first-child {
	height: 165px;
}

.active {
	background-color: DarkSeaGreen;
	color: Black;
}

.hide {
	background-color: White;
	color: White;
}

.rank-container {
	width: 110px;
	position: relative;
	margin: 0 auto;
}

.rank {
	cursor: pointer;
	position: absolute;
	left: 0;
	font: bold 2em sans-serif;
	padding: 5px 10px;
	color: White;
	text-shadow: -2px -2px 4px Black;
}

.points {
	position: absolute;
	right: 0;
	font: 0.8em sans-serif;
}

.league {
}

.name {
	margin: 20px 3px 14px 3px;
	font-size: 1.1em;
	font-weight: bold;
}

.rank a {
	text-decoration: none;
	color: inherit;
}

.role {
	font: 0.8em sans-serif;
}
